@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.ripple-effect{
  width:2px;
  height:2px;
  border-radius: 100%;
  background-color: rgb(200, 198, 198);
  opacity: 50%;
  position:absolute;
  transform:translate(-50%,-50%);
  pointer-events: none;
  animation: ripple 400ms ease-out;
}
textarea{
  background:#fff; /*Any color You wanted*/
}
@keyframes ripple {
  0%{
    width:2px;
    height:2px;
  }
  100%{
    width:350%;
    height:350%;
  }
}

.image-slider__next{
 animation: slider-next 0.3s ease-in-out;
}
@keyframes slider-next {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.image-slider__next-sibling{
  animation:slider-next-sibling 0.3s ease-in-out
}
@keyframes slider-next-sibling {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.image_slider__prev{
  animation:slider-prev 0.3s ease-in-out;
}
@keyframes slider-prev {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.image_slider__prev-sibling{
  animation:slider-prev-sibling 0.3s ease-in-out
}

@keyframes slider-prev-sibling {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}